@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@400;500;600;700&display=swap');
:root {
  background-color: var(--color-dark);
  --color-red : #F60055;
  --color-lime :#06C993;
  --color-blue :#60ADEC;
  --color-dark : #171717;
  --color-dark-muted :#1E1E1E;
  --color-yellow : #F9F972;
  --color-cyan : #03EDF9;


  font-family: 'Martian Mono', monospace;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
}

#root
{
  height: 100vh;
  width: 100%;
  padding: 10px;
}

input[type="text"] {

  background: transparent;
  border: none;
  color: #f5f5f5;
  font-family: 'Martian Mono', monospace;
}

input[type="text"]:focus {
  outline: none;
}
  